body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #262626;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

h1 {
    display: inline-block;
    margin: 0px auto;
    color: #54c29d;
}

.slider-here {
    min-width: 210px;
    max-width: 750px;
}


.slider__mainContainer {
    width: 100%;
    margin: 0px auto 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgba(38, 38, 38, 0.2); */
    border-radius: 10px;
    /* border: 1px solid #262626; */
}

.slider__controlElements {
    width: 250px;
    background-color: rgba(38, 38, 38, 0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* border-bottom-left-radius: 10px; */
    padding: 10px;
}
.slider__scaleContainer.vertical+.slider__controlElements {
    height: 520px;
}



.slider__showValsCheck {
    display: none;
}

.slider__showValsCheckLabel {
    text-indent: 20px;
    width: 100%;
    position: relative;
}
.slider__showValsCheckLabel::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 0px;
    /* border: 1px solid #262626; */
    border-radius: 5px;
    background-color: whitesmoke;
}

.slider__showValsCheck:checked+.slider__showValsCheckLabel::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 5px;
    height: 10px;
    border-right: 3px solid rgb(190, 69, 79);
    border-bottom: 3px solid rgb(190, 69, 79);
    transform: rotate(42deg);

}

.slider__input {
    margin-left: 5px;
    width: 70%;
}

.slider__input_min {
    margin-left: 12px;
}

.slider__input_max {
    margin-left: 6px;
}

.slider__inputLabel {
    display: flex;
    align-items: center;
}

.slider__radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slider__radioContainer input {
    display: none;
}

.slider__radioLabel {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}
.slider__radioLabel::before {
    content:'';
    margin-right: 5px;
    margin-top: 1px;
    width: 14px;
    height: 14px;
    /* border: 1px solid #262626; */
    border-radius: 50%;
    background-color: whitesmoke;
}

input:checked+.slider__radioLabel::after {
    content: '';
    position: absolute;
    align-content: center;
    left: 2px;
    width: 8px;
    height: 8px;
    bottom: 6px;
    border: 1px solid rgb(190, 69, 79);
    border-radius: 50%;
    background-color: rgb(190, 69, 79);
}

.slider__toggleControl {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 80%;
    /* height: 100%; */
    justify-content: start;
}

.slider__toggleValueFieldLabel {
    display: inline-block;
    width: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.slider__toggleValueField {
    width: 70%;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
}


.slider__scaleContainer {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 30px; */
}
.slider__scale {
    width: 90%;
    height: 5px;
    background-color: rgba(38, 38, 38, 0.3);
    /* border: 1px solid rgba(38, 38, 38, 0.4); */
    border-radius: 5px;
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
}

.slider__toggle {
    position: absolute;
    display: none;
    top: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
}


.slider__toggle::before {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(190, 69, 79);
    /* border: 2px solid #262626; */
    z-index: inherit;
}

.slider__toggle::before:hover {
    border: 5px solid rgba(190, 69, 79, 0.4);
}
.slider__toggle:hover::before,
.slider__toggle:active::before {
    /* border: 5px solid rgba(190, 69, 79, 0.1); */
    box-shadow:  0 0 3px 7px rgba(190, 69, 79, 0.4);
}

.slider__toggleLabel {
    position: absolute;
    text-align: center;
    width: 40px; 
    height: 20px;
    top: -35px;
    left: -10px;
    background-color: rgb(190, 69, 79);
    color: whitesmoke;
    /* border: 1px solid #424242; */
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.slider__progressBar {
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: rgb(190, 69, 79);
    border-radius: 5px;
    z-index: 1;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.slider__toggle.vertical {
    transform: rotate(90deg);
    justify-content: center;
    left: -7px;
}

.slider__scale.vertical {
    width: 5px;
    height: 90%;
    align-items: flex-start;
    /* margin-left: 90px; */
}

.slider__progressBar.vertical {
    height: 0px;
    width: 100%;
}

.slider__scaleContainer.vertical {
    height: 500px;
    width: 100px;
    margin-left: 100px;
    align-self: flex-start;
}

.slider__toggleLabel.vertical {
    left: -11px;
    top: -40px;
    transform: rotate(-90deg);
}



.pink {
    background-color: #54c29d;
}

.purple {
    background-color: #6f7dc0;
}

@media (max-width: 800px) {
    body {
        margin: 0px auto;
    }
    .slider__mainContainer {
        flex-direction: column-reverse;
    }
    .slider__controlElements {
        width: 100%;
        max-width: 400px;
    }

    .slider__scaleContainer {
        width: 100%;
        padding: 5px;
    }
}
@media (max-width: 440px) {
    body {
        padding: 0px;
        align-items: flex-start;
    } 
    .slider__mainContainer {
        flex-direction: column-reverse;
    }
    .slider__controlElements {
        width: 95%;
        margin: 10px;
    }
    .slider__scaleContainer {
        width: 100%;
        padding: 5px;
    }
    .slider_scale {
        width: 100%;
    }

}