@import './fonts/fonts.scss';

body {
    font-family: 'Raleway Regular',
    Tahoma,
    'Open Sans',
    sans-serif;
    color:  #262626;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

h1 {
    display: inline-block;
    margin: 0px auto;
    color: rgb(190, 69, 79);
    margin-bottom: 100px;
}

.slider-here {
    min-width: 210px;
    max-width: 800px;
    margin-left: 25%;
}


.slider__mainContainer {
    width: 100%;
    min-height: 40%;
    margin: 0px auto 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px;
}

.slider__controlElements {
    width: 250px;
    background-color: rgba(38, 38, 38, 0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.slider__check {
    display: none;
}

.slider__checkLabel {
    text-indent: 20px;
    width: 100%;
    position: relative;
}
.slider__checkLabel::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 0px;
    border-radius: 5px;
    background-color: whitesmoke;
}


 .slider__check:checked + .slider__checkLabel::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 5px;
    height: 10px;
    border-right: 3px solid rgb(190, 69, 79);
    border-bottom: 3px solid rgb(190, 69, 79);
    transform: rotate(42deg);
}

.slider__valTypeForm {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.slider__valTypeOption {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.slider__valTypeSelect {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 3px 0px;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    background-color: #f5f5f5;
    /* align-self: center; */
}
.slider__valTypeSelect:active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.slider__input {
    margin-left: 5px;
    width: 70%;
}

.slider__input_min {
    margin-left: 12px;
}

.slider__input_max {
    margin-left: 6px;
}

.slider__inputLabel {
    display: flex;
    align-items: center;
}

.slider__radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slider__radioContainer input {
    display: none;
}

.slider__radioLabel {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}
.slider__radioLabel::before {
    content:'';
    margin-right: 5px;
    margin-top: 1px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.slider__radioLabel:hover::before,
.slider__checkLabel:hover::before {
    box-shadow: inset 0 0 2px 7px rgba(190, 69, 79, 0.3);
    transition: box-shadow 0.1s ease;
}

input:checked+.slider__radioLabel::after {
    content: '';
    position: absolute;
    align-content: center;
    left: 2px;
    width: 8px;
    height: 8px;
    bottom: 6px;
    border: 1px solid rgb(190, 69, 79);
    border-radius: 50%;
    background-color: rgb(190, 69, 79);
}

.slider__additTextRadio {
    display: none;
}

.slider__additTextLabel_after,
.slider__additTextLabel_before {
    color: rgba(38, 38, 38, 0.7);
}

.slider__additTextLabel_after:hover,
.slider__additTextLabel_before:hover {
    border-bottom: 2px dashed rgb(190, 69, 79);
}

input:checked+.slider__additTextLabel_after,
input:checked+.slider__additTextLabel_before {
    color: inherit;
    border-bottom: 2px solid rgb(190, 69, 79);
}

.slider__toggleControl {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 80%;
    justify-content: start;
}

.slider__toggleValueFieldLabel {
    display: inline-block;
    width: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.slider__toggleValueField {
    width: 70%;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
}


.slider__trackContainer {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: 30px;
}




.slider__track {
    width: 90%;
    height: 5px;
    background-color: rgba(38, 38, 38, 0.3);
    border-radius: 5px;
    display: flex;
    position: relative;
    align-items: center;
}

.slider__toggle {
    position: absolute;
    display: none;
    top: -7px;
    width: 1px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(190, 69, 79, 0.2);
    z-index: 10;
}

.slider__toggle::before {
    content: '';
    position: absolute;
    top: 0px;
    display: flex;
    width: 21px;
    right: -10px;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(190, 69, 79);
    z-index: inherit;
}

.slider__toggle:hover::before,
.slider__toggle:active::before {
    box-shadow:  0 0 3px 7px rgba(190, 69, 79, 0.4);
    transition: box-shadow 0.1s ease;
}

.slider__scaleDivision:hover {
    box-shadow: 0 0 3px 3px rgba(190, 69, 79, 0.4);
    transition: box-shadow 0.1s ease;
 }

.slider__toggleLabel {
    position: absolute;
    text-align: center;
    min-width: 40px; 
    width: auto;
    height: 20px;
    top: -35px;
    left: -20px;
    background-color: rgb(190, 69, 79);
    color: whitesmoke;
    border-radius: 5px;
    padding: 0px 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.slider__progressBar {
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: rgb(190, 69, 79);
    border-radius: 5px;
    z-index: 1;
}

.slider__scaleContainer {
    width: 100%;
    height: 6px;
    margin-top: 40px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.slider__scale {
    width: 90%;
    height: 2px;
    background-color: rgb(190, 69, 79);
    display: flex;
    position: relative;
    align-items: center;
}

.slider__scaleDivision {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background-color: rgb(190, 69, 79);
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slider__scaleDivision_reg {
    z-index: 1;
}
.slider__scaleDivision_large {
    height: 20px;
    z-index: 5;
}

.slider__scaleDivision::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 20px;
    left: -4px;
    top: -5px;
}
.slider__scaleDivision_reg::before {
    z-index: 2;
}
.slider__scaleDivision_large::before {
    height: 25px;
    z-index: 10;
}

.slider__scaleDivision.vertical::before {
    height: 9px;
    width: 20px;
    left: -5px;
    top: -4px;
}
.slider__scaleDivision_large.vertical::before {
    width: 25px;
}

.slider__scaleDivLabel {
    position: absolute;
    text-align: center;
    background-color: rgb(190, 69, 79);
    color: whitesmoke;
    font-size: 13px;
    border-radius: 5px;
    padding: 2px 3px;
    margin-top: 30px;
    min-width: 20px;
    white-space: nowrap;
}
.slider__scaleDivLabel_reg {
    display: none;
    margin-top: 0px;
    margin-bottom: 15px;
    top: -25px;
    background-color: rgba(38, 38, 38, 0.4); 
    transition: display 0.1s;
}



.slider__scaleDivision_reg:hover .slider__scaleDivLabel_reg {
    display: block;
    transition: display 0.1s;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.slider__toggle.vertical {
    justify-content: center;
    height: 1px;
    width: 20px;
    left: -7px;
}
.slider__toggle.vertical::before {
    left: 0px;
    top: -10px;
    height: 21px;
}

.slider__track.vertical {
    width: 5px;
    height: 90%;
}

.slider__progressBar.vertical {
    height: 0px;
    width: 100%;
}

.slider__trackContainer.vertical {
    height: 500px;
    width: 400px;
    flex-direction: row-reverse;

}

.slider__toggleLabel.vertical {
    left: 35px;
    top: -12px;
}

.slider__scaleContainer.vertical {
    height: 100%;
    width: 6px;
    margin-right: 55px;
    margin-top: 0px;
}
.slider__scale.vertical {
    height: 90%;
    width: 2px;
    justify-content: center;
}
.slider__scaleDivision.vertical {
    height: 1px;
    width: 10px;
    flex-direction: row;
    justify-content: center;
}
.slider__scaleDivision_large.vertical {
    width: 20px;
}
.slider__scaleDivLabel.vertical {
    box-sizing: content-box;
    left: -35px;
    margin-top: 0px;
}

.slider__scaleDivLabel_reg.vertical {
    display: none;
    align-self: center;
    margin-top: 0px;
    top: -10px;
    left: 20px;
    transition: display 0.1s;
}
.slider__scaleDivLabel_reg.vertical::hover .slider__scaleDivLabel_reg.vertical {
    display: block;
    transition: display 0.1s;
}

.pink {
    background-color: #54c29d;
}

.purple {
    background-color: #6f7dc0;
}
